<%- include("navbar.ejs") %>

<form action="/admin/save_about_organization" enctype="multipart/form-data" method="post">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="mb-3 col-md-12 col-sm-12 text-center">
                <h3> About Organization</h3>
            </div>
           
            <div class="mb-4 col-md-4 col-sm-12">
                Choose About Image
                <input type="file" name="about_image"  class="form-control">
            </div>
            <div class="mb-4 col-md-4 col-sm-12">
                <img src="/uploads/<%-about.about_image%>" style="height: 150px;">
            </div>

          <div class="mb-4 col-md-4 col-sm-12">
                About Heading
                <input type="text" class="form-control" name="about_heading" value="<%-about.about_heading%>">
            </div>
            <div class="mb-3 col-md-12 col-sm-12">
                Description
                <textarea name="about_description"  class="form-control" style="height: 100px;">
                    <%-about.about_description%>
                </textarea>
            </div>

           
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-lg">Save </button>
            </div>
        </div>
    </div>
</form><br><hr>

<%- include("footer.ejs") %>