<%- include("navbar.ejs") %>
<form action="/admin/save_loan_details" method="post" enctype="multipart/form-data" class="mb-5">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="mb-3 col-md-12">
                <h3>Add Loan</h3>
            </div>

            <div class="mb-3 col-md-6">
                Loan Name*
                <input type="text" name="loan_name" class="form-control" required>
            </div>

            <div class="mb-3 col-md-6">
                Loan Tenure*
                <input type="text" name="loan_tenure" class="form-control" required>
            </div>

            <div class="mb-3 col-md-6">
                Loan Intrest Rate*
                <input type="text" name="loan_intrest_rate" class="form-control" required>
            </div>

            <div class="mb-3 col-md-6">
                Loan Image*
                <input type="file" name="loan_image" class="form-control" accept="image/*" required>
            </div>

            <div class="mb-3 col-md-12">
                Loan Short Note* <small>(For Loan Type Page)</small>
                <input type="text" name="loan_shortnote" class="form-control" required>
            </div>

            <div class="mb-3 col-md-12">
                Loan Description* <small>(For Loan Details Page)</small>
                <input type="text" name="loan_description" class="form-control" required>
            </div>

            <div class="mb-3 col-md-12">
                Loan Feature* <small>(For Loan Details Page)</small>
                <input type="text" name="loan_feature" class="form-control" required>
            </div>


            <div class="mb-3 col-md-12 text-center">
                <br>
                <button class="btn btn-primary">Save Loan Type</button>
            </div>
        </div>
    </div>
</form>



<div class="container-fluid bg-white p-4">
    <div class="row">
        <div class="col-md-12 text-center mb-2">
            <h3>Loans List</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-sm table-bordered">
                <tr>
                    <th width="5%">Actions</th>
                    <th width="5%">SN</th>
                    <th>Loan Type</th>
                    <th>Loan Tenure</th>
                    <th>Loan Intrest Rate</th>
                    <th>Loan Image</th>
                </tr>
                <% for(var i=0;i<loan_details.length;i++) { %>
                    <tr>
                        <td style="white-space: nowrap;">
                            <a href="/admin/view_loan/<%=loan_details[i].loan_type_id%>" title="View Loan">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fa fa-print"></i>
                                </button>
                            </a>
                            <a href="/admin/edit_loan/<%=loan_details[i].loan_type_id%>" title="Edit Loan Details">
                                <button class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </a>
                            
                            <a href="/admin/delete_loan/<%=loan_details[i].loan_type_id%>" title="Delete Loan Type">
                                <button class="btn btn-sm btn-danger" onclick="alert('Are You Sure...?')">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </a>
                           
                        </td>
                        <td><%=i+1%></td>
                        <td><%=loan_details[i].loan_name%></td>
                        <td><%=loan_details[i].loan_tenure%></td>
                        <td><%=loan_details[i].loan_intrest_rate%></td>
                        <td>
                            <img src="/uploads/<%=loan_details[i].loan_image%>" width="100px">
                        </td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</div> 


<%- include("footer.ejs") %>


<!-- CREATE TABLE loan_details(
                    loan_type_id INT PRIMARY KEY AUTOINCREMENT, 
                    loan_name VARCHAR(50),
                    loan_tenure VARCHAR(50),
                    loan_intrest_rate VARCHAR(50), 
                    loan_image TEXT,
                    loan_shortnote VARCHAR(100),
                    loan_description TEXT,
                    loan_feature TEXT
                    ); -->