<%- include("navbar.ejs") %>
<form action="/admin/update_loan_details" method="post" enctype="multipart/form-data">
    <input type="hidden" name="loan_type_id" value="<%= loan_info.loan_type_id %>">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="mb-3 col-md-1 text-center">
                <h3><a href="/admin/loan_list"><i class="fa fa-angle-left"></i></a> Update Loan Types</h3>
            </div>

            <div class="mb-3 col-md-6">
                Loan Name*
                <input type="text" name="loan_name" value="<%= loan_info.loan_name %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-6">
                Loan Tenure*
                <input type="text" name="loan_tenure" value="<%= loan_info.loan_tenure %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-6">
                Loan Intrest Rate*
                <input type="text" name="loan_intrest_rate" value="<%= loan_info.loan_intrest_rate %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-3">
                Loan Image*
                <input type="file" name="loan_image" class="form-control" value="" accept="image/*" required>
            </div>

            <div class="col-md-3">
                <img src="/uploads/<%= loan_info.loan_image %>">
            </div>

            <div class="mb-3 col-md-12">
                Loan Short Note* <small>(For Loan Type Page)</small>
                <input type="text" name="loan_shortnote" value="<%= loan_info.loan_shortnote %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-12">
                Loan Description* <small>(For Loan Details Page)</small>
                <input type="text" name="loan_description" value="<%= loan_info.loan_description %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-12">
                Loan Feature* <small>(For Loan Details Page)</small>
                <input type="text" name="loan_feature" value="<%= loan_info.loan_feature %>" class="form-control" required>
            </div>

            <div class="mb-3 col-md-12 text-center">
                <br>
                <button class="btn btn-primary">Update Loan Type</button>
            </div>
        </div>
    </div>
</form>

<%- include("footer.ejs") %>
