<%- include("navbar.ejs") %>


<form action="/admin/update_home_service/<%-edit_service_info.home_our_service_id%>" enctype="multipart/form-data" method="post">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="mb-3 col-md-12 text-center">
                <h3>Edit Home Facilitis</h3>
            </div>
            
            
            
            <div class="mb-3 col-md-4">
                Choose Service Image
                <input type="file" name="home_service_image"     class="form-control">
            </div>
            <div class="mb-3 col-md-4">
              <img src="/uploads/<%-edit_service_info.home_service_image%>" style="height: 100px;width: 100px;">
            </div>
            <div class="mb-3 col-md-4">
                Enter Image Heading
                <input type="text" name="service_image_heading" value="<%-edit_service_info.service_image_heading%>"
                 class="form-control">
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-lg">Save </button>
            </div>
        </div>
    </div>
</form>



<%- include("footer.ejs") %>