<%- include("navbar.ejs") %>

<form action="/admin/upadate_document_heading/<%-f_heading[0].heading_id%>" enctype="multipart/form-data" method="post">
    <div class="container-fluid bg-white p-4">
        <div class="row">
            <div class="mb-3 col-md-12 col-sm-12 text-center">
                <h3> Edit Document Heading</h3>
            </div>
            <div class="mb-3 col-md-10 col-sm-12 ml-4">
                Document Heading
                <!-- <input type="text" value="<%-f_heading[0].feature_heading%>" class="form-control"> <br> -->
                <textarea name="document_heading" class="form-control" style="width: 100%;height: 100px;">
                    <%-f_heading[0].document_heading%>
                </textarea>
                
            </div>
            
            <div class="col-md-12 text-center">
                <button class="btn btn-primary btn-lg">Save </button>
            </div>
        </div>
    </div>
</form><br><hr>



<%- include("footer.ejs") %>